/**
 *
 * Apply Here your Custom CSS
 *
*/

.logo h1 {
	font-size: 40px;
	color: #fff;
	font-weight: bold;
}
.header {
	background-color: #303641;
	margin: -20px -20px 0px -20px;
	padding: 14px;
}
.header h3{
	color: #00BA51;
	font-weight: bold;
	margin-left: 10px;
}

.homenotice{
        color: green;
        text-align: center;
        margin-top: 200px;
}
.opened{
	background-color: #3D5580;
}

/*
.main-content .homebg{
	height: 540px !important;
	background-image: url("../img/1.jpg");
	background-repeat: no-repeat;
}
*/